.Separator {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--outline-variant);
}

.Separator[data-style='dashed'] {
  height: 1px;
  border-top: 0;
  background-image: repeating-linear-gradient(
    90deg,
    var(--outline-variant) 0 4px,
    transparent 4px 6px
  );
}

.Separator[aria-orientation='vertical'] {
  width: 0;
  height: 100%;
  border-top: 0;
  border-left: 1px solid var(--outline-variant);
}

.Separator[aria-orientation='vertical'][data-style='dashed'] {
  width: 1px;
  border-left: 0;
  background-image: repeating-linear-gradient(
    180deg,
    var(--outline-variant) 0 4px,
    transparent 4px 6px
  );
}
