:root,
.theme-light {
  --achromatic-container: var(--tone-achromatic-90);
  --achromatic-fixed-dim: var(--tone-achromatic-80);
  --achromatic-fixed: var(--tone-achromatic-90);
  --achromatic: var(--tone-achromatic-40);
  --blue-container: var(--tone-blue-90);
  --blue-fixed-dim: var(--tone-blue-80);
  --blue-fixed: var(--tone-blue-90);
  --blue: var(--tone-blue-40);
  --cyan-container: var(--tone-cyan-90);
  --cyan-fixed-dim: var(--tone-cyan-80);
  --cyan-fixed: var(--tone-cyan-90);
  --cyan: var(--tone-cyan-40);
  --error-container: var(--tone-error-90);
  --error: var(--tone-error-40);
  --green-container: var(--tone-green-90);
  --green-fixed-dim: var(--tone-green-80);
  --green-fixed: var(--tone-green-90);
  --green: var(--tone-green-40);
  --inverse-achromatic: var(--tone-achromatic-80);
  --inverse-blue: var(--tone-blue-80);
  --inverse-cyan: var(--tone-cyan-80);
  --inverse-green: var(--tone-green-80);
  --inverse-on-surface: var(--tone-neutral-95);
  --inverse-orange: var(--tone-orange-80);
  --inverse-pea: var(--tone-pea-80);
  --inverse-primary: var(--tone-primary-80);
  --inverse-purple: var(--tone-purple-80);
  --inverse-red: var(--tone-red-80);
  --inverse-secondary: var(--tone-secondary-80);
  --inverse-surface: var(--tone-neutral-20);
  --inverse-tertiary: var(--tone-tertiary-80);
  --inverse-violet: var(--tone-violet-80);
  --inverse-yellow: var(--tone-yellow-80);
  --on-achromatic-container: var(--tone-achromatic-10);
  --on-achromatic-fixed-variant: var(--tone-achromatic-30);
  --on-achromatic-fixed: var(--tone-achromatic-10);
  --on-achromatic: var(--tone-achromatic-100);
  --on-blue-container: var(--tone-blue-10);
  --on-blue-fixed-variant: var(--tone-blue-30);
  --on-blue-fixed: var(--tone-blue-10);
  --on-blue: var(--tone-blue-100);
  --on-cyan-container: var(--tone-cyan-10);
  --on-cyan-fixed-variant: var(--tone-cyan-30);
  --on-cyan-fixed: var(--tone-cyan-10);
  --on-cyan: var(--tone-cyan-100);
  --on-error-container: var(--tone-error-30);
  --on-error: var(--tone-error-100);
  --on-green-container: var(--tone-green-10);
  --on-green-fixed-variant: var(--tone-green-30);
  --on-green-fixed: var(--tone-green-10);
  --on-green: var(--tone-green-100);
  --on-orange-container: var(--tone-orange-10);
  --on-orange-fixed-variant: var(--tone-orange-30);
  --on-orange-fixed: var(--tone-orange-10);
  --on-orange: var(--tone-orange-100);
  --on-pea-container: var(--tone-pea-10);
  --on-pea-fixed-variant: var(--tone-pea-30);
  --on-pea-fixed: var(--tone-pea-10);
  --on-pea: var(--tone-pea-100);
  --on-primary-container: var(--tone-primary-30);
  --on-primary-fixed-variant: var(--tone-primary-30);
  --on-primary-fixed: var(--tone-primary-10);
  --on-primary: var(--tone-primary-100);
  --on-purple-container: var(--tone-purple-10);
  --on-purple-fixed-variant: var(--tone-purple-30);
  --on-purple-fixed: var(--tone-purple-10);
  --on-purple: var(--tone-purple-100);
  --on-red-container: var(--tone-red-10);
  --on-red-fixed-variant: var(--tone-red-30);
  --on-red-fixed: var(--tone-red-10);
  --on-red: var(--tone-red-100);
  --on-secondary-container: var(--tone-secondary-30);
  --on-secondary-fixed-variant: var(--tone-secondary-30);
  --on-secondary-fixed: var(--tone-secondary-10);
  --on-secondary: var(--tone-secondary-100);
  --on-surface-variant: var(--tone-neutral-variant-30);
  --on-surface: var(--tone-neutral-10);
  --on-tertiary-container: var(--tone-tertiary-30);
  --on-tertiary-fixed-variant: var(--tone-tertiary-30);
  --on-tertiary-fixed: var(--tone-tertiary-10);
  --on-tertiary: var(--tone-tertiary-100);
  --on-violet-container: var(--tone-violet-10);
  --on-violet-fixed-variant: var(--tone-violet-30);
  --on-violet-fixed: var(--tone-violet-10);
  --on-violet: var(--tone-violet-100);
  --on-yellow-container: var(--tone-yellow-10);
  --on-yellow-fixed-variant: var(--tone-yellow-30);
  --on-yellow-fixed: var(--tone-yellow-10);
  --on-yellow: var(--tone-yellow-100);
  --orange-container: var(--tone-orange-90);
  --orange-fixed-dim: var(--tone-orange-80);
  --orange-fixed: var(--tone-orange-90);
  --orange: var(--tone-orange-40);
  --outline-variant: var(--tone-neutral-variant-80);
  --outline: var(--tone-neutral-variant-50);
  --pea-container: var(--tone-pea-90);
  --pea-fixed-dim: var(--tone-pea-80);
  --pea-fixed: var(--tone-pea-90);
  --pea: var(--tone-pea-40);
  --primary-container: var(--tone-primary-90);
  --primary-fixed-dim: var(--tone-primary-80);
  --primary-fixed: var(--tone-primary-90);
  --primary: var(--tone-primary-40);
  --purple-container: var(--tone-purple-90);
  --purple-fixed-dim: var(--tone-purple-80);
  --purple-fixed: var(--tone-purple-90);
  --purple: var(--tone-purple-40);
  --red-container: var(--tone-red-90);
  --red-fixed-dim: var(--tone-red-80);
  --red-fixed: var(--tone-red-90);
  --red: var(--tone-red-40);
  --scrim: var(--tone-neutral-0);
  --secondary-container: var(--tone-secondary-90);
  --secondary-fixed-dim: var(--tone-secondary-80);
  --secondary-fixed: var(--tone-secondary-90);
  --secondary: var(--tone-secondary-40);
  --shadow: var(--tone-neutral-0);
  --surface-bright: var(--tone-neutral-98);
  --surface-container-high: var(--tone-neutral-92);
  --surface-container-highest: var(--tone-neutral-90);
  --surface-container-low: var(--tone-neutral-96);
  --surface-container-lowest: var(--tone-neutral-100);
  --surface-container: var(--tone-neutral-94);
  --surface-dim: var(--tone-neutral-87);
  --surface: var(--tone-neutral-98);
  --tertiary-container: var(--tone-tertiary-90);
  --tertiary-fixed-dim: var(--tone-tertiary-80);
  --tertiary-fixed: var(--tone-tertiary-90);
  --tertiary: var(--tone-tertiary-40);
  --violet-container: var(--tone-violet-90);
  --violet-fixed-dim: var(--tone-violet-80);
  --violet-fixed: var(--tone-violet-90);
  --violet: var(--tone-violet-40);
  --yellow-container: var(--tone-yellow-90);
  --yellow-fixed-dim: var(--tone-yellow-80);
  --yellow-fixed: var(--tone-yellow-90);
  --yellow: var(--tone-yellow-40);
}

.theme-dark {
  --achromatic-container: var(--tone-achromatic-30);
  --achromatic-fixed-dim: var(--tone-achromatic-80);
  --achromatic-fixed: var(--tone-achromatic-90);
  --achromatic: var(--tone-achromatic-80);
  --blue-container: var(--tone-blue-30);
  --blue-fixed-dim: var(--tone-blue-80);
  --blue-fixed: var(--tone-blue-90);
  --blue: var(--tone-blue-80);
  --cyan-container: var(--tone-cyan-30);
  --cyan-fixed-dim: var(--tone-cyan-80);
  --cyan-fixed: var(--tone-cyan-90);
  --cyan: var(--tone-cyan-80);
  --error-container: var(--tone-error-30);
  --error: var(--tone-error-80);
  --green-container: var(--tone-green-30);
  --green-fixed-dim: var(--tone-green-80);
  --green-fixed: var(--tone-green-90);
  --green: var(--tone-green-80);
  --inverse-achromatic: var(--tone-achromatic-40);
  --inverse-blue: var(--tone-blue-40);
  --inverse-cyan: var(--tone-cyan-40);
  --inverse-green: var(--tone-green-40);
  --inverse-on-surface: var(--tone-neutral-20);
  --inverse-orange: var(--tone-orange-40);
  --inverse-pea: var(--tone-pea-40);
  --inverse-primary: var(--tone-primary-40);
  --inverse-purple: var(--tone-purple-40);
  --inverse-red: var(--tone-red-40);
  --inverse-secondary: var(--tone-secondary-40);
  --inverse-surface: var(--tone-neutral-90);
  --inverse-tertiary: var(--tone-tertiary-40);
  --inverse-violet: var(--tone-violet-40);
  --inverse-yellow: var(--tone-yellow-40);
  --on-achromatic-container: var(--tone-achromatic-90);
  --on-achromatic-fixed-variant: var(--tone-achromatic-30);
  --on-achromatic-fixed: var(--tone-achromatic-10);
  --on-achromatic: var(--tone-achromatic-20);
  --on-blue-container: var(--tone-blue-90);
  --on-blue-fixed-variant: var(--tone-blue-30);
  --on-blue-fixed: var(--tone-blue-10);
  --on-blue: var(--tone-blue-20);
  --on-cyan-container: var(--tone-cyan-90);
  --on-cyan-fixed-variant: var(--tone-cyan-30);
  --on-cyan-fixed: var(--tone-cyan-10);
  --on-cyan: var(--tone-cyan-20);
  --on-error-container: var(--tone-error-90);
  --on-error: var(--tone-error-20);
  --on-green-container: var(--tone-green-90);
  --on-green-fixed-variant: var(--tone-green-30);
  --on-green-fixed: var(--tone-green-10);
  --on-green: var(--tone-green-20);
  --on-orange-container: var(--tone-orange-90);
  --on-orange-fixed-variant: var(--tone-orange-30);
  --on-orange-fixed: var(--tone-orange-10);
  --on-orange: var(--tone-orange-20);
  --on-pea-container: var(--tone-pea-90);
  --on-pea-fixed-variant: var(--tone-pea-30);
  --on-pea-fixed: var(--tone-pea-10);
  --on-pea: var(--tone-pea-20);
  --on-primary-container: var(--tone-primary-90);
  --on-primary-fixed-variant: var(--tone-primary-30);
  --on-primary-fixed: var(--tone-primary-10);
  --on-primary: var(--tone-primary-20);
  --on-purple-container: var(--tone-purple-90);
  --on-purple-fixed-variant: var(--tone-purple-30);
  --on-purple-fixed: var(--tone-purple-10);
  --on-purple: var(--tone-purple-20);
  --on-red-container: var(--tone-red-90);
  --on-red-fixed-variant: var(--tone-red-30);
  --on-red-fixed: var(--tone-red-10);
  --on-red: var(--tone-red-20);
  --on-secondary-container: var(--tone-secondary-90);
  --on-secondary-fixed-variant: var(--tone-secondary-30);
  --on-secondary-fixed: var(--tone-secondary-10);
  --on-secondary: var(--tone-secondary-20);
  --on-surface-variant: var(--tone-neutral-variant-80);
  --on-surface: var(--tone-neutral-90);
  --on-tertiary-container: var(--tone-tertiary-90);
  --on-tertiary-fixed-variant: var(--tone-tertiary-30);
  --on-tertiary-fixed: var(--tone-tertiary-10);
  --on-tertiary: var(--tone-tertiary-20);
  --on-violet-container: var(--tone-violet-90);
  --on-violet-fixed-variant: var(--tone-violet-30);
  --on-violet-fixed: var(--tone-violet-10);
  --on-violet: var(--tone-violet-20);
  --on-yellow-container: var(--tone-yellow-90);
  --on-yellow-fixed-variant: var(--tone-yellow-30);
  --on-yellow-fixed: var(--tone-yellow-10);
  --on-yellow: var(--tone-yellow-20);
  --orange-container: var(--tone-orange-30);
  --orange-fixed-dim: var(--tone-orange-80);
  --orange-fixed: var(--tone-orange-90);
  --orange: var(--tone-orange-80);
  --outline-variant: var(--tone-neutral-variant-30);
  --outline: var(--tone-neutral-variant-60);
  --pea-container: var(--tone-pea-30);
  --pea-fixed-dim: var(--tone-pea-80);
  --pea-fixed: var(--tone-pea-90);
  --pea: var(--tone-pea-80);
  --primary-container: var(--tone-primary-30);
  --primary-fixed-dim: var(--tone-primary-80);
  --primary-fixed: var(--tone-primary-90);
  --primary: var(--tone-primary-80);
  --purple-container: var(--tone-purple-30);
  --purple-fixed-dim: var(--tone-purple-80);
  --purple-fixed: var(--tone-purple-90);
  --purple: var(--tone-purple-80);
  --red-container: var(--tone-red-30);
  --red-fixed-dim: var(--tone-red-80);
  --red-fixed: var(--tone-red-90);
  --red: var(--tone-red-80);
  --scrim: var(--tone-neutral-0);
  --secondary-container: var(--tone-secondary-30);
  --secondary-fixed-dim: var(--tone-secondary-80);
  --secondary-fixed: var(--tone-secondary-90);
  --secondary: var(--tone-secondary-80);
  --shadow: var(--tone-neutral-0);
  --surface-bright: var(--tone-neutral-24);
  --surface-container-high: var(--tone-neutral-17);
  --surface-container-highest: var(--tone-neutral-22);
  --surface-container-low: var(--tone-neutral-10);
  --surface-container-lowest: var(--tone-neutral-4);
  --surface-container: var(--tone-neutral-12);
  --surface-dim: var(--tone-neutral-6);
  --surface: var(--tone-neutral-6);
  --tertiary-container: var(--tone-tertiary-30);
  --tertiary-fixed-dim: var(--tone-tertiary-80);
  --tertiary-fixed: var(--tone-tertiary-90);
  --tertiary: var(--tone-tertiary-80);
  --violet-container: var(--tone-violet-30);
  --violet-fixed-dim: var(--tone-violet-80);
  --violet-fixed: var(--tone-violet-90);
  --violet: var(--tone-violet-80);
  --yellow-container: var(--tone-yellow-30);
  --yellow-fixed-dim: var(--tone-yellow-80);
  --yellow-fixed: var(--tone-yellow-90);
  --yellow: var(--tone-yellow-80);
}
