.theme-light {
  --error-container: var(--tone-error-90);
  --error: var(--tone-error-40);
  --inverse-on-surface: var(--tone-neutral-95);
  --inverse-primary: var(--tone-primary-80);
  --inverse-secondary: var(--tone-secondary-80);
  --inverse-surface: var(--tone-neutral-20);
  --inverse-tertiary: var(--tone-tertiary-80);
  --on-error-container: var(--tone-error-30);
  --on-error: var(--tone-error-100);
  --on-primary-container: var(--tone-primary-30);
  --on-primary-fixed-variant: var(--tone-primary-30);
  --on-primary-fixed: var(--tone-primary-10);
  --on-primary: var(--tone-primary-100);
  --on-secondary-container: var(--tone-secondary-30);
  --on-secondary-fixed-variant: var(--tone-secondary-30);
  --on-secondary-fixed: var(--tone-secondary-10);
  --on-secondary: var(--tone-secondary-100);
  --on-surface-variant: var(--tone-neutral-variant-30);
  --on-surface: var(--tone-neutral-10);
  --on-tertiary-container: var(--tone-tertiary-30);
  --on-tertiary-fixed-variant: var(--tone-tertiary-30);
  --on-tertiary-fixed: var(--tone-tertiary-10);
  --on-tertiary: var(--tone-tertiary-100);
  --outline-variant: var(--tone-neutral-variant-80);
  --outline: var(--tone-neutral-variant-50);
  --primary-container: var(--tone-primary-90);
  --primary-fixed-dim: var(--tone-primary-80);
  --primary-fixed: var(--tone-primary-90);
  --primary: var(--tone-primary-40);
  --scrim: var(--tone-neutral-0);
  --secondary-container: var(--tone-secondary-90);
  --secondary-fixed-dim: var(--tone-secondary-80);
  --secondary-fixed: var(--tone-secondary-90);
  --secondary: var(--tone-secondary-40);
  --shadow: var(--tone-neutral-0);
  --surface-bright: var(--tone-neutral-98);
  --surface-container-high: var(--tone-neutral-92);
  --surface-container-highest: var(--tone-neutral-90);
  --surface-container-low: var(--tone-neutral-96);
  --surface-container-lowest: var(--tone-neutral-100);
  --surface-container: var(--tone-neutral-94);
  --surface-dim: var(--tone-neutral-87);
  --surface: var(--tone-neutral-98);
  --tertiary-container: var(--tone-tertiary-90);
  --tertiary-fixed-dim: var(--tone-tertiary-80);
  --tertiary-fixed: var(--tone-tertiary-90);
  --tertiary: var(--tone-tertiary-40);
}

.theme-dark {
  --error-container: var(--tone-error-30);
  --error: var(--tone-error-80);
  --inverse-on-surface: var(--tone-neutral-20);
  --inverse-primary: var(--tone-primary-40);
  --inverse-secondary: var(--tone-secondary-40);
  --inverse-surface: var(--tone-neutral-90);
  --inverse-tertiary: var(--tone-tertiary-40);
  --on-error-container: var(--tone-error-90);
  --on-error: var(--tone-error-20);
  --on-primary-container: var(--tone-primary-90);
  --on-primary-fixed-variant: var(--tone-primary-30);
  --on-primary-fixed: var(--tone-primary-10);
  --on-primary: var(--tone-primary-20);
  --on-secondary-container: var(--tone-secondary-90);
  --on-secondary-fixed-variant: var(--tone-secondary-30);
  --on-secondary-fixed: var(--tone-secondary-10);
  --on-secondary: var(--tone-secondary-20);
  --on-surface-variant: var(--tone-neutral-variant-80);
  --on-surface: var(--tone-neutral-90);
  --on-tertiary-container: var(--tone-tertiary-90);
  --on-tertiary-fixed-variant: var(--tone-tertiary-30);
  --on-tertiary-fixed: var(--tone-tertiary-10);
  --on-tertiary: var(--tone-tertiary-20);
  --outline-variant: var(--tone-neutral-variant-30);
  --outline: var(--tone-neutral-variant-60);
  --primary-container: var(--tone-primary-30);
  --primary-fixed-dim: var(--tone-primary-80);
  --primary-fixed: var(--tone-primary-90);
  --primary: var(--tone-primary-80);
  --scrim: var(--tone-neutral-0);
  --secondary-container: var(--tone-secondary-30);
  --secondary-fixed-dim: var(--tone-secondary-80);
  --secondary-fixed: var(--tone-secondary-90);
  --secondary: var(--tone-secondary-80);
  --shadow: var(--tone-neutral-0);
  --surface-bright: var(--tone-neutral-24);
  --surface-container-high: var(--tone-neutral-17);
  --surface-container-highest: var(--tone-neutral-22);
  --surface-container-low: var(--tone-neutral-10);
  --surface-container-lowest: var(--tone-neutral-4);
  --surface-container: var(--tone-neutral-12);
  --surface-dim: var(--tone-neutral-6);
  --surface: var(--tone-neutral-6);
  --tertiary-container: var(--tone-tertiary-30);
  --tertiary-fixed-dim: var(--tone-tertiary-80);
  --tertiary-fixed: var(--tone-tertiary-90);
  --tertiary: var(--tone-tertiary-80);
}
