:root {
  --tone-primary-10: #001c3b;
  --tone-primary-20: #003060;
  --tone-primary-30: #004787;
  --tone-primary-40: #005fb1;
  --tone-primary-80: #a6c8ff;
  --tone-primary-90: #d5e3ff;
  --tone-primary-100: #ffffff;
  --tone-secondary-10: #20133d;
  --tone-secondary-20: #352954;
  --tone-secondary-30: #4c406c;
  --tone-secondary-40: #655785;
  --tone-secondary-80: #cec0e8;
  --tone-secondary-90: #e8def6;
  --tone-secondary-100: #ffffff;
  --tone-tertiary-10: #181e00;
  --tone-tertiary-20: #2c3400;
  --tone-tertiary-30: #404c00;
  --tone-tertiary-40: #566500;
  --tone-tertiary-80: #bdd062;
  --tone-tertiary-90: #dee9a4;
  --tone-tertiary-100: #ffffff;
  --tone-error-10: #410006;
  --tone-error-20: #680010;
  --tone-error-30: #93001b;
  --tone-error-40: #bf0127;
  --tone-error-80: #ffb3b0;
  --tone-error-90: #ffdad8;
  --tone-error-100: #ffffff;
  --tone-neutral-0: #000000;
  --tone-neutral-4: #0d0e11;
  --tone-neutral-6: #121316;
  --tone-neutral-10: #1a1c1e;
  --tone-neutral-12: #1e2023;
  --tone-neutral-17: #292a2d;
  --tone-neutral-20: #2f3033;
  --tone-neutral-22: #343538;
  --tone-neutral-24: #38393c;
  --tone-neutral-87: #dad9dd;
  --tone-neutral-90: #e3e2e6;
  --tone-neutral-92: #e9e7eb;
  --tone-neutral-94: #eeedf1;
  --tone-neutral-95: #f1f0f4;
  --tone-neutral-96: #f4f3f7;
  --tone-neutral-98: #faf9fd;
  --tone-neutral-100: #ffffff;
  --tone-neutral-variant-30: #424751;
  --tone-neutral-variant-50: #727782;
  --tone-neutral-variant-60: #8c919c;
  --tone-neutral-variant-80: #c2c6d2;
  --tone-red-10: #400012;
  --tone-red-20: #670023;
  --tone-red-30: #8e0935;
  --tone-red-40: #b0294b;
  --tone-red-80: #ffb2bc;
  --tone-red-90: #ffd9dd;
  --tone-red-100: #ffffff;
  --tone-orange-10: #321300;
  --tone-orange-20: #522300;
  --tone-orange-30: #753400;
  --tone-orange-40: #994700;
  --tone-orange-80: #ffb68b;
  --tone-orange-90: #ffdbc8;
  --tone-orange-100: #ffffff;
  --tone-yellow-10: #241a00;
  --tone-yellow-20: #3e2e00;
  --tone-yellow-30: #594400;
  --tone-yellow-40: #755b00;
  --tone-yellow-80: #f1c026;
  --tone-yellow-90: #ffdf92;
  --tone-yellow-100: #ffffff;
  --tone-pea-10: #111f00;
  --tone-pea-20: #213600;
  --tone-pea-30: #324f00;
  --tone-pea-40: #446900;
  --tone-pea-80: #a6d560;
  --tone-pea-90: #d0eca3;
  --tone-pea-100: #ffffff;
  --tone-green-10: #002116;
  --tone-green-20: #003828;
  --tone-green-30: #00513c;
  --tone-green-40: #006c50;
  --tone-green-80: #41dfad;
  --tone-green-90: #a8f2d2;
  --tone-green-100: #ffffff;
  --tone-cyan-10: #001f24;
  --tone-cyan-20: #00363d;
  --tone-cyan-30: #004f58;
  --tone-cyan-40: #006874;
  --tone-cyan-80: #00daf2;
  --tone-cyan-90: #a1effc;
  --tone-cyan-100: #ffffff;
  --tone-blue-10: #001d34;
  --tone-blue-20: #003355;
  --tone-blue-30: #004a78;
  --tone-blue-40: #00629d;
  --tone-blue-80: #99cbff;
  --tone-blue-90: #cfe5ff;
  --tone-blue-100: #ffffff;
  --tone-violet-10: #150066;
  --tone-violet-20: #2700a1;
  --tone-violet-30: #3e26c1;
  --tone-violet-40: #5745d9;
  --tone-violet-80: #c6c0ff;
  --tone-violet-90: #e4dfff;
  --tone-violet-100: #ffffff;
  --tone-purple-10: #36003d;
  --tone-purple-20: #590062;
  --tone-purple-30: #7d0489;
  --tone-purple-40: #992ca4;
  --tone-purple-80: #ffa9ff;
  --tone-purple-90: #ffd6fb;
  --tone-purple-100: #ffffff;
  --tone-achromatic-10: #1b1b1b;
  --tone-achromatic-20: #303030;
  --tone-achromatic-30: #474747;
  --tone-achromatic-40: #5e5e5e;
  --tone-achromatic-80: #c6c6c6;
  --tone-achromatic-90: #e2e2e2;
  --tone-achromatic-100: #ffffff;
}
