:root {
  --tone-primary-10: #001c3b;
  --tone-primary-20: #003060;
  --tone-primary-30: #004787;
  --tone-primary-40: #005fb1;
  --tone-primary-80: #a6c8ff;
  --tone-primary-90: #d5e3ff;
  --tone-primary-100: #ffffff;
  --tone-secondary-10: #20133d;
  --tone-secondary-20: #352954;
  --tone-secondary-30: #4c406c;
  --tone-secondary-40: #655785;
  --tone-secondary-80: #cec0e8;
  --tone-secondary-90: #e8def6;
  --tone-secondary-100: #ffffff;
  --tone-tertiary-10: #181e00;
  --tone-tertiary-20: #2c3400;
  --tone-tertiary-30: #404c00;
  --tone-tertiary-40: #566500;
  --tone-tertiary-80: #bdd062;
  --tone-tertiary-90: #dee9a4;
  --tone-tertiary-100: #ffffff;
  --tone-error-10: #410006;
  --tone-error-20: #680010;
  --tone-error-30: #93001b;
  --tone-error-40: #bf0127;
  --tone-error-80: #ffb3b0;
  --tone-error-90: #ffdad8;
  --tone-error-100: #ffffff;
  --tone-neutral-0: #000000;
  --tone-neutral-4: #0d0e11;
  --tone-neutral-6: #121316;
  --tone-neutral-10: #1a1c1e;
  --tone-neutral-12: #1e2023;
  --tone-neutral-17: #292a2d;
  --tone-neutral-20: #2f3033;
  --tone-neutral-22: #343538;
  --tone-neutral-24: #38393c;
  --tone-neutral-87: #dad9dd;
  --tone-neutral-90: #e3e2e6;
  --tone-neutral-92: #e9e7eb;
  --tone-neutral-94: #eeedf1;
  --tone-neutral-95: #f1f0f4;
  --tone-neutral-96: #f4f3f7;
  --tone-neutral-98: #faf9fd;
  --tone-neutral-100: #ffffff;
  --tone-neutral-variant-30: #424751;
  --tone-neutral-variant-50: #727782;
  --tone-neutral-variant-60: #8c919c;
  --tone-neutral-variant-80: #c2c6d2;
}
