.Page {
  display: flex;
  justify-content: center;
  padding: 48px 16px 80px;
}

.Content {
  width: 100%;
  max-width: 640px;
}

.Body {
  margin: 0;
}

.HeadingGroup {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.Body p {
  margin: 0 0 16px;
}

.Body p:last-child {
  margin-bottom: 0;
}
