.Chip {
  display: flex;
  align-items: center;
  padding: 12px;
  min-height: 40px;
  width: 256px;
  background-color: var(--surface);
}

.Label {
  color: inherit;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
}
