._Root_nwa9g_1{display:flex;flex-direction:column;gap:var(--fieldset-gap, var(--space-4));width:100%;padding:0;margin:0;border:0;min-inline-size:0}._Legend_nwa9g_12{margin:0;padding:0;font:inherit;color:inherit}
